.detail-container {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 80px 0;
}

.detail-container .left, .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: left;
    text-align: center;
}

.detail-container .left .hero {
    border: 1px solid rgba(211, 207, 200, 0.4);
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
    background-color: #212121;
    width: 90%;
}

.detail-container .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.detail-container .right .title {
    font-size: 2rem;
    color: #d5f667;
}

.detail-container .right .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin-top: 10px;
}

.detail-container .right .info .info-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: #212121;
    border-radius: 4px;
    padding: 15px;
}

.detail-container .right .info .info-item i {
    margin-right: 10px;
}

.detail-container .right .description {
    text-align: left;
    font-size: 1.1rem;
    line-height: 2;
    margin: 0;
}

.detail-container .right .creator {
    margin: 20px 0;
    font-size: 1.1rem;
    color: #d5f667;
}

.detail-container .right .creator-info {
    display: flex;
    align-items: center;
}

.detail-container .right .creator-info .creator-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.detail-container .right .creator-info .name {
    margin-left: 10px;
    font-size: 1.1rem;
}

.detail-container .right .bid-and-history {
    display: flex;
    align-items: flex-end;
}

.detail-container .right .bid-and-history .close {
    font-size: 1rem;
    padding: 10px;
    border-radius: 50%;
    color: #050505;
    font-weight: bolder;
    background-color: #d5f667;
}

.detail-container .right .bid-and-history .bids, .history {
    padding: 10px 20px;
    margin: 20px 0 0;
    width: 100px;
    color: #050505;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #d5f667;
    margin-right: 10px;
}

.detail-container .right .price {
    color: #d5f667;
    margin: 20px 0 10px;
    font-size: 1rem;
}

.detail-container .right .price-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.detail-container .right .price-container .eth {
    height: 50px;
    width: 50px;
    position: relative;
    left: -10px;
}

.detail-container .right .price-container .eth-price {
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
}

.detail-container .right .price-container .dollar-price {
    margin-left: 10px;
    color: #d3cfc8;
}

.detail-container .right .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.detail-container .right .buttons i {
    margin-right: 4px;
}

.detail-container .right .buttons .buy-btn, .bid-btn, .coffee-btn  {
    padding: 20px;
    margin-right: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #050505;
}

.detail-container .right .buttons .buy-btn {
    background-color: #d5f667;
}

.detail-container .right .buttons .bid-btn {
    background-color: #212121;
    color: #fff;
}

.detail-container .right .buttons .coffee-btn {
    background-color: #d3cfc8;
}

@media(max-width: 912px) {
    .detail-container {
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }
    
    .detail-container .left, .right {
        width: 90%;
    }

    .detail-container .left .hero {
        width: 90%
    }

    .detail-container .right {
        align-items: center;
        margin-top: 20px;
    }

    .detail-container .right .title {
        font-size: 1.5rem;
    }

    .detail-container .right .info {
        justify-content: center;
        margin: 20px 0;
    }

    .detail-container .right .info .info-item {
        margin-right: 5px;
        padding: 10px;
    }

    .detail-container .right .description {
        text-align: center;
        font-size: 0.9rem;
        line-height: 2;
    }

    .detail-container .right .creator, .detail-container .right .creator-info .name {
        font-size: 0.9rem;
    }
    
    .detail-container .right .creator-info .creator-image {
        width: 30px;
        height: 30px;
    }

    .detail-container .right .bid-and-history .bids, .history {
        padding: 10px 10px;
        margin: 20px 10px 0;
    }
}

@media(max-width: 540px) {
    .detail-container .right .buttons .buy-btn, .bid-btn, .coffee-btn {
        margin: 5px;
        padding: 10px;
        font-size: 0.75rem;
    }
}