.hero-container, .hero-description  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.hero-container .left, .right, .hero-description .left, .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: left;
    text-align: center;
}

.hero-container .right {
    flex-direction: row;
}

.hero-container .left .subtitle {
    align-self: start;
    width: 80%;
    margin: auto;
    color: #d3cfc8;
}

.hero-container .left .title {
    font-size: 4rem;
    width: 80%;
}

.hero-container .left .title .title-inner {
    color: #d5f667;
}

.hero-container .left .description, .testimonials .description {
    width: 80%;
    margin: auto;
    line-height: 2;
    font-size: 1.25rem;
}

.hero-container .left .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.hero-container .left .buttons .explore-btn, .create-btn {
    text-decoration: none;
    color: #fff;
    width: 30%;
    padding: 20px;
    border-radius: 4px;
}

.hero-container .left .buttons .explore-btn {
    background-color: #d5f667;
    color: #010101;
    margin-right: 20px;
}

.hero-container .left .buttons .create-btn {
    color: #d5f667;
    border: 1px solid #d5f667;
}

.hero-container .left .bid-and-auction {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-container .left .bid-and-auction .current-bid {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.hero-container .left .bid-and-auction .current-bid .title, .hero-container .left .bid-and-auction .auction .title {
    color: #d3cfc8;
    font-size: 1rem;
    color: #d5f667;
}

.hero-container .left .bid-and-auction .current-bid .title {
    color: #d3cfc8;
}

.hero-container .left .bid-and-auction .current-bid .bid-eth {
    color: #d5f667;
    font-size: 2rem;
}

.hero-container .left .bid-and-auction .current-bid .bid-dollar {
    color: #fff;
    font-size: 1.2rem;
    margin-left: 30px;
}

.hero-container .left .bid-and-auction .auction {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.hero-container .left .bid-and-auction .auction .timer {
    display: flex;
    align-items: center;
}

.hero-container .left .bid-and-auction .auction .timer .time-container {
    margin-right: 20px;
}

.hero-container .left .bid-and-auction .auction .timer .time-container .time {
    font-size: 1.8rem;
    text-align: center;
}

.hero-container .left .bid-and-auction .auction .timer .time-container .time-description {
    color: #d3cfc8;
}

.hero-container .right .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.hero-container .right .about .about-inner {
    padding: 10px;
}

.hero-container .right .about .about-inner .about-title {
    font-size: 1.8rem;
    color: #d5f667;
    margin-bottom: 5px;
}

.hero-description {
    margin: 30px 0;
}

.hero-description .right .title {
    font-size: 3rem;
    width: 80%;
    color: #d5f667;
}

.hero-description .right .description {
    width: 80%;
    margin: auto;
    line-height: 2;
    font-size: 1.25rem;
}

.hero-description .right .title span {
    color: #d5f667;
}

.hero-description .right .contact-btn {
    background-color: #d5f667;
    color: #050505;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
    width: 25%;
}

.popular-works {
    color: #fff;
    width: 100%;
    margin: 50px 0;
}

.popular-works .title {
    font-size: 3rem;
    color: #d5f667;
    padding: 20px;
    line-height: 2;
    text-align: center;
}

.popular-works .description {
    color: #fff;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}

.popular-works .trends {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.popular-works .trends .trend-item {
    border: 1px solid rgba(211, 207, 200, 0.4);
    padding: 10px;
    width: 21%;
    border-radius: 20px;
    background-color: #212121;
    margin: 10px;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
}

.popular-works .trends .trend-item .trend-item-image-1, .popular-works .trends .trend-item .trend-item-image-2, .popular-works .trends .trend-item .trend-item-image-3, .trends .trend-item .trend-item-image-4, .trends .trend-item .trend-item-image-5, .trends .trend-item .trend-item-image-6, .trends .trend-item .trend-item-image-7, .trends .trend-item .trend-item-image-8 {
    width: 100%;
    height: 350px;
    background-image: url("../../assets/images/lion1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular-works .trends .trend-item .trend-item-image-2 {
    background-image: url("../../assets/images/monkey1.png");
}

.popular-works .trends .trend-item .trend-item-image-3 {
    background-image: url("../../assets/images/cat1.png");
}

.popular-works .trends .trend-item .trend-item-image-4 {
    background-image: url("../../assets/images/squirrel1.png");
}

.popular-works .trends .trend-item .trend-item-image-5 {
    background-image: url("../../assets/images/lion2.png");
}

.popular-works .trends .trend-item .trend-item-image-6 {
    background-image: url("../../assets/images/monkey2.png");
}

.popular-works .trends .trend-item .trend-item-image-7 {
    background-image: url("../../assets/images/monkey3.png");
}

.popular-works .trends .trend-item .trend-item-image-8 {
    background-image: url("../../assets/images/tiger1.png");
}

.popular-works .trends .trend-item .trend-item-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    margin: 20px 0 0;
}

.popular-works .trends .trend-item .trend-item-prices, .popular-works .trends .trend-item .trend-item-creator {
    padding: 10px;
    background-color: rgba(211, 207, 200, 0.2);
    border-radius: 4px;
    color: #d3cfc8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.popular-works .trends .trend-item .trend-item-prices .eth {
    font-size: 1.1rem;
    font-weight: bolder;
    color: #fff;
}

.popular-works .trends .trend-item .trend-item-prices .dollar {
    font-size: 0.75rem;
    font-weight: bold;
}

.popular-works .trends .trend-item .trend-item-prices .last-bid {
    color: #d3cfc8;
    font-weight: bolder;
}

.popular-works .trends .trend-item .trend-item-prices .last-bid span {
    font-size: 1.3rem;
    color: #fff;
}

.popular-works .trends .trend-item .trend-item-prices .eth-logo {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%
}

.popular-works .trends .trend-item .trend-item-creator {
    background-color: transparent;
}

.popular-works .trends .trend-item .trend-item-creator .trend-item-creator-inner {
    display: flex;
    align-items: center;
}

.popular-works .trends .trend-item .trend-item-creator .trend-item-creator-inner .trend-item-creator-image {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.popular-works .trends .trend-item .trend-item-creator .trend-item-creator-inner .created-by {
    font-size: 0.75rem;
    color: #d3cfc8;
}

.popular-works .trends .trend-item .trend-item-creator .creator {
    color: #fff;
}

.popular-works .trends .trend-item .trend-item-creator .heart {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.popular-works .trends .trend-item .trend-item-creator .heart:hover {
    color: #d5f667;
}

.popular-works .trends .trend-item .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.popular-works .trends .trend-item .buttons .bid-btn, .history-btn {
    width: 45%;
    padding: 10px;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.popular-works .trends .trend-item .buttons .bid-btn {
    background-color: #d5f667;
    color: #050505;
}

.popular-works .trends .trend-item .buttons .history-btn {
    color: #d5f667;
    border: 1px solid #d5f667;
}

.more-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.more-container .more-btn {
    background-color: #d5f667;
    color: #050505;
    width: 15%;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
}

.info .info-container {
    width: 20%;
    text-align: center;
    color: #fff;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 4px;
    height: 100%;
    border: 1px solid rgba(211, 207, 200, 0.4);
    box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.4);
    position: relative;
}

.info .info-container .icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    right: -15px;
}

.info .info-container .info-description {
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: #d5f667;
}

.info .info-container .info-description-long {
    font-size: 1rem;
    line-height: 1.5;
}

.testimonials {
    color: #fff;
    margin: 100px 0 30px;
}

.testimonials .title {
    font-size: 3rem;
    width: 80%;
    text-align: center;
    margin: auto;
    color: #d5f667;
}

.testimonials .description {
    width: 50%;
    text-align: center;
}

.testimonials .testimonials-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.testimonials .testimonials-customers .customer {
    width: 25%;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(211, 207, 200, 0.4);
    box-shadow: 1px 1px 20px 1px rgba(255, 255, 255, 0.4);
    margin: 20px;
    height: 250px;
    position: relative;
}

.testimonials .testimonials-customers .customer .customer-info {
    position: absolute;
    bottom: 10px;
}

.testimonials .testimonials-customers .customer .quote {
    font-size: 3rem;
    color: #d5f667;
}

.testimonials .testimonials-customers .customer .comment {
    line-height: 2;
    font-size: 0.9rem;
}

.testimonials .testimonials-customers .customer .customer-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.testimonials .testimonials-customers .customer .customer-info .customer-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonials .testimonials-customers .customer .customer-info span {
    color: #d3cfc8;
    font-size: 0.75rem;
}

.seller {
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seller .subtitle {
    color: #d3cfc8;
    font-size: 1rem;
}

.seller .title {
    font-size: 3rem;
    color: #d5f667;
    margin-bottom: 20px;
}

.seller .seller-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.seller .seller-container .seller-item {
    width: 21%;
    margin: 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(211, 207, 200, 0.4);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
    position: relative;
}

.seller .seller-container .seller-item .seller-image {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    padding: 4px;
    border: 1px solid #d3cfc8;
}

.seller .seller-container .seller-item .seller-info {
    margin-left: 10px;
}

.seller .seller-container .seller-item .seller-info .name {
    font-size: 0.9rem;
}

.seller .seller-container .seller-item .seller-info .product-count {
    font-size: 0.8rem;
    color: #d3cfc8;
    position: relative;
    top: 2px;
}

.seller .seller-container .seller-item .seller-info .price {
    font-size: 0.75rem;
    color: #d5f667;
}

.seller .seller-container .seller-item .rank {
    position: absolute;
    right: 10px;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.2);
}

@media(max-width: 912px) {
    .hero-container {
        flex-direction: column-reverse;
        margin: 30px 0;
    }
    
    .hero-container .left, .right, .testimonials .title, .testimonials .description {
        width: 90%;
    }
    
    .hero-container .left .title, .testimonials .title {
        font-size: 2rem;
    }

    .hero-container .left .description, .testimonials .description {
        font-size: 1rem;
    }

    .hero-container .right .hero {
        width: 70%;
        margin: auto;
        margin-bottom: 10px;
    }

    .hero-container .left .bid-and-auction {
        flex-direction: column;
    }

    .hero-container .left .bid-and-auction .current-bid .bid-eth {
        font-size: 1.75rem
    }

    .hero-container .left .bid-and-auction .auction .timer .time-container {
        margin-right: 10px;
    }

    .hero-container .left .bid-and-auction .auction .timer .time-container:last-child {
        margin-right: 0;
    }

    .hero-container .right {
        flex-direction: column;
    }

    .hero-container .right .about {
        flex-direction: row;
        height: auto;
        margin: 20px 0;
    }

    .hero-container .left .buttons .explore-btn, .create-btn {
        padding: 10px;
    }

    .hero-description {
        flex-direction: column;
    }
    
    .hero-description .left, .right {
        width: 90%;
    }
    
    .hero-description .right .title {
        font-size: 2rem;
    }

    .hero-description .right .description {
        font-size: 1rem;
    }

    .hero-description .right .contact-btn {
        padding: 10px;
        width: 50%;
    }

    .hero-description .left .dog {
        width: 70%;
        margin: auto;
        margin-bottom: 10px;
    }

    .popular-works {
        width: 100%;
        margin: 10px 0;
    }

    .popular-works .title {
        font-size: 2rem;
        padding: 0;
    }

    .popular-works .description {
        font-size: 1rem;
        width: 90%;
    }

    .popular-works .trends {
        margin: 20px 0;
    }

    .popular-works .trends .trend-item {
        width: 45%;
    }

    .popular-works .trends .trend-item .trend-item-title {
        font-size: 1.5rem;
    }

    .popular-works .trends .trend-item .trend-item-prices .eth {
        font-size: 0.9rem;
    }
    
    .popular-works .trends .trend-item .trend-item-prices .dollar {
        font-size: 0.55rem;
    }
    
    .popular-works .trends .trend-item .trend-item-prices .last-bid span {
        font-size: 1rem;
    }

    .popular-works .trends .trend-item .trend-item-prices .eth-logo {
        width: 30px;
        height: 30px;
    }

    .popular-works .trends .trend-item .buttons .bid-btn, .history-btn {
        font-size: 0.9rem;
    }

    .more-container .more-btn {
        width: 35%;
    }

    .info .info-container {
        width: 80%;
        margin: 20px 0;
    }

    .info .info-container .info-description {
        font-size: 0.8rem;
    }

    .testimonials {
        margin: 80px 0 50px;
    }

    .testimonials .testimonials-customers {
        margin: 20px 0;
    }

    .testimonials .testimonials-customers .customer {
        width: 45%;
        box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
        height: auto;
        width: 100%;
    }

    .testimonials .testimonials-customers .customer .customer-info {
        position: relative;
        top: 10px;
    }

    .seller .subtitle {
        font-size: 0.8rem;
    }
    
    .seller .title {
        font-size: 2rem;
    }

    .seller .seller-container .seller-item {
        width: 45%;
    }

    .seller .seller-container .seller-item .rank {
        font-size: 3rem;
    }
}

@media(max-width: 600px) {
    .info {
        margin: 50px 0;
    }

    .info .info-container .info-description {
        font-size: 0.8rem;
    }
}


@media(max-width: 540px) {
    .popular-works .trends .trend-item {
        width: 100%;
    }

    .seller .seller-container .seller-item {
        width: 100%;
    }

    .seller .seller-container .seller-item .rank {
        font-size: 5rem;
    }
}