.multiple-container {
    text-align: center;
    padding: 20px;
    color: #fff;
}

.multiple-container .multiple-subtitle {
    color: #d3cfc8;
}

.multiple-container .multiple-title {
    font-size: 4rem;
    color: #d5f667;
}

.multiple-container .multiple-inner-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.multiple-container .multiple-inner-container .multiple-left, .multiple-left, .multiple-container .multiple-inner-container .multiple-right {
    width: 45%;
    text-align: left;
    margin: 50px 0;
    padding: 20px;
}

.multiple-container .multiple-inner-container .multiple-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.multiple-container .multiple-inner-container .multiple-left .file-upload {
    text-align: center;
    border: 1px dashed #d3cfc8;
    padding: 20px;
    margin: 20px 0;
}

.multiple-container .multiple-inner-container .multiple-left .file-upload .multiple-description {
    font-size: 1.25rem;
    line-height: 2;
}

.multiple-container .multiple-inner-container .multiple-left .file-upload .file-label {
    background-color: #d5f667;
    border-radius: 4px;
    padding: 10px;
    width: 25%;
    margin: 10px auto;
    outline: none;
    border: none;
    color: #050505;
    display: block;
}

.multiple-container .multiple-inner-container .multiple-left .file-upload .file-input {
    display: none;
}

.multiple-container .multiple-inner-container .multiple-left .bids-methods {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.multiple-container .multiple-inner-container .multiple-left .bids-methods .bid-method {
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(211, 207, 200, 0.4);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    margin: 20px;
    margin-left: 0;
}

.multiple-container .multiple-inner-container .multiple-left .bids-methods .bid-method:hover {
    background-color: #d5f667;
    color: #050505
}

.multiple-container .multiple-inner-container .multiple-left .bids-methods .bid-method.active {
    background-color: #d5f667;
    color: #050505;
}

.multiple-container .multiple-inner-container .multiple-left .bids-methods .bid-method.active .icon {
    color: #050505;
}

.multiple-container .multiple-inner-container .multiple-left .bids-methods .bid-method .icon {
    color: #d5f667;
    font-size: 2rem;
    margin: 20px;
}

.multiple-container .multiple-inner-container .multiple-left .bids-methods .bid-method:hover .icon {
    color: #050505;
}

.multiple-container .multiple-inner-container .multiple-left .create-item-button {
    padding: 20px;
    background-color: #d5f667;
    color: #050505;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 25%;
    margin: 10px 0;
}

.multiple-container .multiple-inner-container .multiple-right .item-card {
    border: 1px solid rgba(211, 207, 200, 0.4);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    background-color: #212121;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner {
    padding: 20px;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-image {
    width: 100%;
    object-fit: cover;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-title {
    color: #d5f667;
    text-align: center;
    font-size: 2rem;
    margin: 0 0 10px;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-creator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
} 

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-creator-container .item-card-creator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-creator-container .created-container {
    margin-left: 20px;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-creator-container .created-container .item-card-created {
    color: #d3cfc8;
    font-size: 0.85rem;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info .item-card-bid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info .item-card-bid .item-card-bid-title {
    color: #d5f667;
    font-size: 1.25rem;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info .item-card-bid .item-card-bid-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info .item-card-bid .item-card-bid-info h3 {
    margin-right: 20px;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info .item-card-like-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info .item-card-like-container i {
    margin-right: 10px;
    font-size: 1.25rem;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info .item-card-like-container i:hover {
    color: #d5f667;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .item-card-info .item-card-like-container span {
    font-size: 1.25rem;
}

.multiple-container .multiple-inner-container .multiple-right .item-card .item-card-inner .bid-button {
    background-color: #d5f667;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
}

.multiple-container .multiple-inner-container .multiple-right .description-container {
    width: 50%;
}

.multiple-container .multiple-inner-container .multiple-right .description-container .arrow {
    width: 100px;
    position: relative;
    left: -100px;
}

.multiple-container .multiple-inner-container .multiple-right .description-container .description-title {
    color: #d5f667;
    font-size: 1.25rem;
    line-height: 2;
}

.multiple-container .multiple-inner-container .multiple-right .description-container .description-paragraph {
    line-height: 2;
    color: #d3cfc8;
}

.multiple-container .multiple-inner-container .multiple-left p {
    line-height: 2;
    color: #d3cfc8;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container {
    border: 1px dashed rgba(211, 207, 200, 0.4);
    padding: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container i {
    color: #d5f667;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container .switch {
    width: 60px;
    height: 24px;
    position: relative;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container .switch input {
    visibility: hidden;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container .switch .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container .switch input:checked + .slider {
    background-color: #d5f667;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container .switch .slider::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 4px;
    transition: all 0.5s;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container .switch input:checked + .slider::before {
   transform: translateX(34px);
   background-color: #050505;
}

.multiple-container .multiple-inner-container .multiple-left .selection {
    color: #fff;
}

.multiple-container .multiple-inner-container .multiple-left .selection .option {
    color: #050505;
}

.multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-input, .multiple-container .multiple-inner-container .multiple-left .selection, .multiple-container .multiple-inner-container .multiple-left .title-input, .multiple-container .multiple-inner-container .multiple-left .description-input, .multiple-container .multiple-inner-container .multiple-left .copies-input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin: 10px 0;
    border: 1px solid rgba(211, 207, 200, 0.4);
    background-color: transparent;
    font-size: 1rem;
    color: #fff;
}

@media(max-width: 912px) {
    .multiple-container .multiple-title {
        font-size: 2rem;
    }

    .multiple-container .multiple-inner-container {
        flex-direction: column;
    }

    .multiple-container .multiple-inner-container .multiple-left, .multiple-left, .multiple-container .multiple-inner-container .multiple-right {
        width: 100%;
        margin: 0;
    }

    .multiple-container .multiple-inner-container .multiple-left .file-upload .multiple-description {
        font-size: 1rem;
    }

    .multiple-container .multiple-inner-container .multiple-left .file-upload .file-label {
        width: 50%;
    }

    .multiple-container .multiple-inner-container .multiple-left .bids-methods {
        flex-direction: column;
    }

    .multiple-container .multiple-inner-container .multiple-left .bids-methods .bid-method {
        width: 100%;
        margin: 10px 0;
    }

    .multiple-container .multiple-inner-container .multiple-left .create-item-button {
        width: 100%;
    }

    .multiple-container .multiple-inner-container .multiple-right {
        flex-direction: column;
    }    
    
    .multiple-container .multiple-inner-container .multiple-right .item-card {
        width: 100%;
    }

    .multiple-container .multiple-inner-container .multiple-right .description-container .arrow {
        width: 50px;
        left: 0;
        margin: 10px 0;
    }

    .multiple-container .multiple-inner-container .multiple-right .description-container {
        width: 100%;
    }

    .multiple-container .multiple-inner-container .multiple-left .purchased-container {
        padding: 10px;
    }
}

@media(max-width: 393px) {
    .multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container .switch input:checked + .slider::before {
        transform: translateX(30px);
    }
}

@media(max-width: 384px) {
    .multiple-container .multiple-inner-container .multiple-left.purchased-container .purchased-inner-container .switch input:checked + .slider::before {
        transform: translateX(28px);
    }
}

@media(max-width: 360px) {
    .multiple-container .multiple-inner-container .multiple-left .purchased-container .purchased-inner-container .switch input:checked + .slider::before {
        transform: translateX(24px);
    }
}