.fixed-price-container .fixed-price-input, .fixed-price-container .purchased-container .purchased-input, .fixed-price-container .selection, .fixed-price-container .title-input, .fixed-price-container .description-input  {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin: 10px 0;
    border: 1px solid rgba(211, 207, 200, 0.4);
    background-color: transparent;
    font-size: 1rem;
}

.fixed-price-container p {
    line-height: 2;
    color: #d3cfc8;
}

.fixed-price-container .purchased-container {
    border: 1px dashed rgba(211, 207, 200, 0.4);
    padding: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

.fixed-price-container .purchased-container .purchased-inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fixed-price-container .purchased-container .purchased-inner-container i {
    color: #d5f667;
}

.fixed-price-container .purchased-container .purchased-inner-container .switch {
    width: 60px;
    height: 24px;
    position: relative;
}

.fixed-price-container .purchased-container .purchased-inner-container .switch input {
    visibility: hidden;
}

.fixed-price-container .purchased-container .purchased-inner-container .switch .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.fixed-price-container .purchased-container .purchased-inner-container .switch input:checked + .slider {
    background-color: #d5f667;
}

.fixed-price-container .purchased-container .purchased-inner-container .switch .slider::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 4px;
    transition: all 0.5s;
}

.fixed-price-container .purchased-container .purchased-inner-container .switch input:checked + .slider::before {
   transform: translateX(34px);
   background-color: #050505;
}

.fixed-price-container .selection {
    color: #fff;
}

.fixed-price-container .selection .option {
    color: #050505;
}

@media(max-width: 912px) {
    .fixed-price-container .purchased-container {
        padding: 10px;
    }
}

@media(max-width: 393px) {
    .fixed-price-container .purchased-container .purchased-inner-container .switch input:checked + .slider::before {
        transform: translateX(30px);
    }
}

@media(max-width: 384px) {
    .fixed-price-container .purchased-container .purchased-inner-container .switch input:checked + .slider::before {
        transform: translateX(28px);
    }
}

@media(max-width: 360px) {
    .fixed-price-container .purchased-container .purchased-inner-container .switch input:checked + .slider::before {
        transform: translateX(24px);
    }
}