.buy-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.7);
    display: flex;
    align-items: center;    
    justify-content: center;
}

.buy-modal .buy-modal-inner {
        width: 25%;
    min-height: 400px;
    background-color: #212121;
    border-radius: 4px;
    border: 1px solid rgba(211, 207, 200, 0.4);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
    position: relative;
    color: #fff;
    text-align: center;
}

.buy-modal .buy-modal-inner .close {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 10px;
    background-color: #d5f667;
    color: #050505;
    border-radius: 50%;
}

.buy-modal .buy-modal-inner .title {
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
    color: #d5f667;
}

.buy-modal .buy-modal-inner .info-area {
    color: #d3cfc8;
    padding: 10px;
}

.buy-modal .buy-modal-inner .info-area span {
    color: #fff;
    font-weight: bolder;
}

.buy-modal .buy-modal-inner .available {
    color: #fff;
    margin: 20px 0;
}

.buy-modal .buy-modal-inner .available span {
    color: #d5f667;
    font-size: 1.1rem;
}

.buy-modal .buy-modal-inner input {
    width: 80%;
    padding: 10px;
    border: 1px solid rgba(211, 207, 200, 0.4);
    margin: 10px;
    border-radius: 4px;
    outline: none;
    color: #050505;
}

.buy-modal .buy-modal-inner .info {
    height: auto;
    margin: 4px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.buy-modal .buy-modal-inner .info p {
    color: #d3cfc8;
}

.buy-modal .buy-modal-inner .info span {
    color: #d5f667;
    font-size: 1.2rem;
}

.buy-modal .buy-modal-inner .buy-now-btn {
    background-color: #d5f667;
    width: 45%;
    padding: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #050505;
}

@media(max-width: 912px) {
    .buy-modal .buy-modal-inner {
        width: 80%;
    }
}

@media(max-width: 600px) { 
    .buy-modal .buy-modal-inner {
        width: 90%;
    }

    .buy-modal .buy-modal-inner .buy-now-btn {
        padding: 10px;
    }
}