* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #d5f667;
}