.create-nft-container {
    margin: 50px 0;
}

.create-nft-container .create-nft-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-nft-container .create-nft-hero .left {
    width: 40%;
    font-size: 2rem;
    text-align: center;
}

.create-nft-container .create-nft-hero .right {
    background: url("../../assets/images/character7.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.create-nft-container .create-nft-hero .left .subtitle {
    color: #d3cfc8;
    margin-top: 10px;
    font-size: 1rem;
}

.create-nft-container .create-nft-hero .left .title, .description {
    color: #fff;
    width: 90%;
    margin: 10px auto;
}

.create-nft-container .create-nft-hero .left .title .subtitle-hero {
    color: #d5f667;
}

.create-nft-container .create-nft-hero .left .description {
    font-size: 1.25rem;
    line-height: 2;
}

.create-nft-container .create-nft-hero .left .contact-btn {
    display: block;
    border-radius: 4px;
    background-color: #d5f667;
    padding: 20px;
    color: #050505;
    font-size: 1rem;
    text-decoration: none;
    width: 30%;
    margin: auto;
}

@media(max-width: 912px) {
    .create-nft-container {
        margin: 0;
    }

    .create-nft-container .create-nft-hero {
        flex-direction: column-reverse;
    }

    .create-nft-container .create-nft-hero .left {
        width: 90%;
        font-size: 1rem;
        text-align: center;
    }
    
    .create-nft-container .create-nft-hero .right {
        height: 300px;
    }

    .create-nft-container .create-nft-hero .left .description {
        font-size: 0.9rem;
    }

    .create-nft-container .create-nft-hero .left .contact-btn {
        padding: 10px;
        font-size: 0.85rem;
    }
}