.create-nft-container {
    margin: 50px 0;
}

.create-nft-container .create-nft-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-nft-container .create-nft-hero .left {
    width: 40%;
    font-size: 2rem;
    text-align: center;
}

.create-nft-container .create-nft-hero .right {
    background: url("../../assets/images/create-nft-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.create-nft-container .create-nft-hero .left .subtitle, .create-nft-container .create-nft-steps .nft-create-steps-subtitle {
    color: #d3cfc8;
    margin-top: 10px;
    font-size: 1rem;
}

.create-nft-container .create-nft-hero .left .title, .description {
    color: #fff;
    width: 90%;
    margin: 10px auto;
}

.create-nft-container .create-nft-hero .left .title .subtitle-hero {
    color: #d5f667;
}

.create-nft-container .create-nft-hero .left .description {
    font-size: 1.25rem;
    line-height: 2;
}

.create-nft-container .create-nft-hero .left .contact-btn {
    display: block;
    border-radius: 4px;
    background-color: #d5f667;
    padding: 20px;
    color: #050505;
    font-size: 1rem;
    text-decoration: none;
    width: 30%;
    margin: auto;
}

.create-nft-container .create-nft-steps {
    text-align: center;
    margin: 100px auto 10px;
}

.create-nft-container .create-nft-steps .nft-create-steps-title {
    color: #d5f667;
    font-size: 4rem;
}

.create-nft-container .create-nft-steps .create-nft-steps-inner {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    padding: 20px;
    border: 1px solid rgba(211, 207, 200, 0.4);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .order-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .order-container .order {
    color: rgba(211, 207, 200, 0.4);
    font-size: 4rem;
}

.create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .order-container .icon {
    color: #d5f667;
    font-size: 4rem;
    margin: 10px 0;
}

.create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .step-title {
    color: #fff;
    font-size: 2rem;
}

.create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .step-description {
    color: #d3cfc8;
    text-align: left;
    line-height: 2;
    font-size: 1.25rem;
}

.create-nft-container .create-nft-area {
    text-align: center;
    color: #d3cfc8;
    font-size: 1.25rem;
    line-height: 2;
}

.create-nft-container .create-nft-area .create-nft-choices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-nft-container .create-nft-area .create-nft-choices .create-nft-choice {
    width: 15%;
    border: 1px solid red;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgba(211, 207, 200, 0.4);
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.create-nft-container .create-nft-area .create-nft-choices .create-nft-choice:hover {
    background-color: #d5f667;
}

.create-nft-container .create-nft-area .create-nft-choices .create-nft-choice:hover > * {
    color: #050505;
}

.create-nft-container .create-nft-area .create-nft-choices .create-nft-choice a {
    text-decoration: none;
    color: #d5f667;
}

@media(max-width: 912px) {
    .create-nft-container {
        margin: 0;
    }

    .create-nft-container .create-nft-hero {
        flex-direction: column-reverse;
    }

    .create-nft-container .create-nft-hero .left {
        width: 90%;
        font-size: 1rem;
        text-align: center;
    }
    
    .create-nft-container .create-nft-hero .right {
        margin-top: 20px;
    }

    .create-nft-container .create-nft-hero .left .description {
        font-size: 1rem;
    }

    .create-nft-container .create-nft-hero .left .contact-btn {
        padding: 10px;
        font-size: 0.85rem;
    }
    
    .create-nft-container .create-nft-steps {
        margin: 50px 0
    }

    .create-nft-container .create-nft-steps .nft-create-steps-title {
        font-size: 2rem;
    }

    .create-nft-container .create-nft-steps .create-nft-steps-inner {
        flex-direction: column;
        margin: 20px 0;
    }

    .create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step {
        width: 90%;
        margin: 10px auto;
    }

    .create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .order-container .order {
        font-size: 2rem;
    }

    .create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .order-container .icon {
        font-size: 2rem;
    }

    .create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .step-title {
        font-size: 1rem;
    }
    
    .create-nft-container .create-nft-steps .create-nft-steps-inner .create-nft-step .step-description {
        font-size: 1.1rem;
    }

    .create-nft-container .create-nft-area .create-nft-choices .create-nft-choice {
        width: 45%;
    }
}

@media(max-width: 576px) {
    .create-nft-container .create-nft-area {
        font-size: 1rem;
        width: 90%;
        margin: auto;
    }

    .create-nft-container .create-nft-area .create-nft-choices {
        flex-direction: column;
    }

    .create-nft-container .create-nft-area .create-nft-choices .create-nft-choice {
        width: 90%;
        margin: 20px;
    }
}